body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #673AB7;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 15px;
}

.card {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}